<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <a href="https://github.com/ramjeesaradi"><i class="fa fa-5x fa-fw fa-github-square"></i></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://in.linkedin.com/in/ramjeesaradi"><i class="edin fa fa-5x fa-fw fa-linkedin-square"></i></a>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://facebook.com/ramjeesaradi"><i class="fa fa-5x fa-facebook-official fa-fw"></i></a>
      </div>
    </div>
  </div>
</div>
<footer class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-12">
        <h1 class="text-center" contenteditable="true">Good Day!</h1>
      </div>
    </div>
  </div>
</footer>
