<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills">
          <li class="<%= @active_index %>">
            <a href="/editen/index">Home</a>
          </li>
          <li class="<%= @active_profile %>">
            <a href="/editen/profile">Résumé</a>
          </li>
          <li class="<%= @active_blog %>">
            <a href="#">Blog</a>
          </li>
          <li><a href="mailto:ramjeesaradi@gmail.com">Contact Me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>